body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-image: url("https://res.cloudinary.com/nkechi-christabel/image/upload/v1610724744/poiefaue8xla01qztfwq.jpg");
  background-size: cover;
  position: relative;
  z-index: 1;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile__details-container {
  max-width: 74rem;
  margin: 0 auto;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 500px));
  gap: 2rem;
}

 .profile__details-container .profile { 
  background-color: #2c3531;
} 

.profile p{
   font-size: 1.1rem;
   letter-spacing: .05rem;
}

.filter__container {
  margin: 3rem auto;
  width: 70%;
}

.form-control {
    padding-left: 2rem;
}

.filter__box > select {
  padding: .35rem;
  font-size: 1.2rem;
  border-radius: .3rem;
  outline: none;
}

/* select .filter__option:not(first-child){
  border: 1px solid #fff !important;
}

select .filter__option:hover {
  background-color: grey !important;
} */

button.active {
  background-color: #2c3531;
  color: #fff;
}

.paginationButtons {
  margin: 5rem auto;
  width: 20%;
}

.paginationButtons button {
  padding: 1rem;
  outline: none;
}

.paginationButtons button:hover {
  background-color: grey;
}

.paginationButtons button:not(last-child) {
  margin-right: .9rem;
}

.loader {
  border: 1rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 1rem solid #2c3531;;
  width: 7.5rem;
  height: 7.5rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 20rem 30rem;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 300px) {
  .filter-box {
    /* padding-top: 1rem;
    margin-left: 10rem; */
  }
}